.header {
    height: 120px;
    background-image: linear-gradient(0, #0e201d, #002931);
}

.header__navbar-list {
    list-style: none;
    display: flex;
    margin: 0;
    justify-content: end;

}

.header__navbar {
    padding-top: 8px;
}

.header__navbar-item {
    margin: 6px 8px;
    position: relative;
}

.header__navbar-item--has-notify:hover .header__notify{
    display: block;
}

.header__navbar-item, .header__navbar-item_link {
    font-size: 1.5rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item:hover, .header__navbar-item_link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.header__navbar-item--bold{
    font-weight: 400;
}

.header__navbar-item, .header__navbar-item_link, .bi{
    margin-right:4px;
    display: flex;
    align-items: center;
}


/* header notify*/
.header__notify{
    position: absolute;
    top: 140%;
    right: 0;
    width: 404px;
    background-color: var(--white-color);
    border: 1px solid #D3D3D3;
    cursor: default;
    user-select: none;
    transform-origin: calc(100% - 20px) top;
    animation: headerNotifyGrowth ease-in 0.25s;
    will-change: opacity, transform;
    display: none;
    z-index: 1;
}
.header__notify::after{
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -16px;
    width: 160px;
    height: 16px;
}

.header__notify::before{
    content: "";
    border-width:20px 30px ;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 10px;
    top: -30px;
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-head{
    height: 40px;
    background-color: var(--white-color);
}

.header__notify-head h3 {
    color: #666;
    margin: 0;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 40px;
    text-align: center;
}

.header__notify-list{
    padding-left: 0;
}

.header__notify-item{
    height: 70px;
}

.header__notify-item:hover{
    background-color: rgba(128, 128, 128, 0.4);
}

.header__notify-link{
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;
    
    
}

.header_notify-img {
    width: 50px;
}

.header__notify-info{
    display: flex;
    align-items: center;
    margin-left: 12px;
}

.header__notify-descrip{
    font-size: 1.6rem;
    color: #333;

}
.header__notify-footer{
    height: 20px;
}

/*  logo */

.header__logo{
    display: flex;
    position: relative;
    
}
.header__logo-img{
   
}
.header__slogan-img{
    margin: auto;
    padding-right: 200px;

}

/* container */
.container {
    width: 100%;
    background-image: linear-gradient(#1e364f,#1a2a3b);
    padding: 30px 0 30px 0;
    margin: 0;

}

.container__header {
    height: 44px;
    background-image: linear-gradient(0, #4683a7, #3b6e8c);
    display: flex;
    justify-content: space-between;
    border: 1px solid #0da4d5;

}

.container__menu{
    width: 80%;
    height: 30px;
}
.container__menu-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    align-items: center;
}

.separator {
    height: 28px;
    border-right: 1px solid var(--white-color);
}

.container__menu-link {
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    display: block;
    line-height: 40px;
    width: 150PX;
    text-align: center;
    text-transform: uppercase;
}

.container__search{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;

}

::placeholder {
    color: white;
    opacity: 0.9;
}

.container__search-box {
    height: 28px;
    width: 100%;
    background-color: #315f8a;
    border: 1px solid #1a8ead;
    color: var(--white-color);
    font-size: 1.6rem;
    padding-left: 20px;
    outline: none;
}

.container__searchbar {
    position: relative;
}

.container__search-icon {
    color: var(--white-color);
    position: absolute;
    right: 8%;
    top: 30%;
    font-size: 1.2rem;
    cursor: pointer;
}


/* container content */

/* side left */

.category {
    margin-top: 30px;
}

.category__heading {
    color: var(--title-color);
    font-weight: 300;
    font-size: 1.6rem;
    height: 36px;
    border-bottom: 1px solid rgba(198, 212, 223,0.5);
}

.category-item {
    height: 26px;
}

.category-item__link {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 1.8rem;
    display: flex;
}

.category-item__link:hover {
    color: var(--text-color--hover);
}

.ad__img {
    width: 100%;
}
/* slider */
.container__slider-title {
}

.container__slider-title {
    color: var(--white-color);
}

.container__slider {
    margin-top: 30px;
    height: 500px;
}
.CSSgal {
	position: relative;
	overflow: hidden;
	height: 100%;
}

/* SLIDER */

.CSSgal .slider {
	height: 100%;
	white-space: nowrap;
	font-size: 0;
	transition: 0.8s;
}

/* SLIDES */

.CSSgal .slider > * {
	font-size: 1rem;
	display: inline-block;
	white-space: normal;
	vertical-align: top;
	height: 100%;
	width: 100%;
	background: none 50% no-repeat;
	background-size: cover;
}

.slider__img {
    height: 100%;
    width: 100%;
}

/* PREV/NEXT, CONTAINERS & ANCHORS */

.CSSgal .prevNext {
	position: absolute;
	z-index: 1;
	top: 50%;
	width: 100%;
	height: 0;
    display: flex;
}

.slider__nextbtn-icon {
    font-size: 4.0rem;
    width: 60px;
    height: 60px;
    justify-content: center;
    color: #424242;
}

.CSSgal .prevNext > div+div {
	visibility: hidden; 
}

.CSSgal .prevNext a {
	background: #fff;
	position: absolute;
	width:       60px;
	height:      60px;
	line-height: 60px; 
	text-align: center;
	opacity: 0.7;
	-webkit-transition: 0.3s;
					transition: 0.3s;
	-webkit-transform: translateY(-50%);
					transform: translateY(-50%);
	left: 0;
}
.CSSgal .prevNext a:hover {
	opacity: 1;
}
.CSSgal .prevNext a+a {
	left: auto;
	right: 0;
}

/* NAVIGATION */

.CSSgal .bullets {
	position: absolute;
	z-index: 2;
	bottom: 0;
	padding: 10px 0;
	width: 100%;
	text-align: center;
}
.CSSgal .bullets > a {
	display: inline-block;
	width:       10px;
	height:      10px;
	line-height: 10px;
	text-decoration: none;
	text-align: center;
	background: rgba(255, 255, 255, 1);
	-webkit-transition: 0.3s;
	transition: 0.3s;
                    
}
.CSSgal .bullets > a+a {
	background: rgba(255, 255, 255, 0.5); /* Dim all but first */
}
.CSSgal .bullets > a:hover {
	background: rgba(255, 255, 255, 0.7) !important;
}


.CSSgal >s:target ~ .bullets >* {      background: rgba(255, 255, 255, 0.5);}

#s1:target ~ .bullets >*:nth-child(1) {background: rgba(255, 255, 255,   1);}
#s2:target ~ .bullets >*:nth-child(2) {background: rgba(255, 255, 255,   1);}
#s3:target ~ .bullets >*:nth-child(3) {background: rgba(255, 255, 255,   1);}
#s4:target ~ .bullets >*:nth-child(4) {background: rgba(255, 255, 255,   1);}

.CSSgal >s:target ~ .prevNext >* {      visibility: hidden;}

#s1:target ~ .prevNext >*:nth-child(1) {visibility: visible;}
#s2:target ~ .prevNext >*:nth-child(2) {visibility: visible;}
#s3:target ~ .prevNext >*:nth-child(3) {visibility: visible;}
#s4:target ~ .prevNext >*:nth-child(4) {visibility: visible;}

#s1:target ~ .slider {transform: translateX(   0%); -webkit-transform: translateX(   0%);}
#s2:target ~ .slider {transform: translateX(-100%); -webkit-transform: translateX(-100%);}
#s3:target ~ .slider {transform: translateX(-200%); -webkit-transform: translateX(-200%);}
#s4:target ~ .slider {transform: translateX(-300%); -webkit-transform: translateX(-300%);}

.CSSgal{
	color: #fff;	
	text-align: center;
}
.CSSgal .slider h2 {
	margin-top: 40vh;
	font-weight: 200;
	letter-spacing: -0.06em;
	word-spacing: 0.2em;
	font-size: 3em;
}
.CSSgal a {
	border-radius: 50%;
	margin: 0 3px;
	color: rgba(0,0,0,0.8);
	text-decoration: none;
}

/*  */
.content__header {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.content__tile {
    margin-top: 80px;
    color: var(--white-color);
    font-weight: 400;
}

.content__link {
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.2rem;
    padding: 6px 8px;
    border: 1px solid #767e88;
}

.content__link:hover {
    border: 1px solid var(--white-color);
}

.product-item {
    margin: 14px 0;
    cursor: pointer;
}

.product-item:hover {
    transform: scale(1.1);
    
}

.product-item-content {
    background: linear-gradient(to right,#345b77,#3f7696);
    width: 100%;
}

.product-item:hover .product-item-content{
    background: #417c9c;
}

.product-item__img img {
    width: 100%;

}

.product-item-content {
    padding: 6px 6px;
}

.product-item__title {
    color: var(--white-color);
    margin: 0;
    font-size: 1.6rem;
    font-weight: 400;
    padding: 6px 0;
}

.product-item__price {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

.product-item__price-og {
    background-color: rgba(0,0,0,0.4);
    position: relative;
    display: flex;
    align-items: center;
}

.product-item__price-sale {
    background-color: #4c6b22;
    color: #b7ee16;
    padding: 3px;
}

.product-item__price-old {
    color: #627786;
    margin: 0 4px;
}

.product-item__price-old::before {
    content: '';
    width: 40%;
    left: 6%;
    right: 46%;
    position: absolute;
    top: 36%;
    border-bottom: 1px solid #627786;
    transform: skewY(-8deg);
}

.product-item__price-new {
    color: var(--white-color);
}

.product-item__price-new {
    padding: 4px;
}

.product-item__price-new--sale {
    color: #b7ee16;
}

/* product footer */
.product__footer {
    display: flex;
    margin-top: 20px;
}
.product__footer-list {
    margin: auto;
    display: flex;
    align-items: center;
    
}

.product__footer-item {
    margin: 0 20px;
}

.product__footer-item a {
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    
}

.product__footer-item-num {
    background-color: #465261;
    display: block;
    width: 40px;
    line-height: 30px;
    text-align: center;
}
.product__footer-item-num:hover {
    background-color: #7b8188;
}

.product__footer-item-num--active {
    background-color: #7b8188;
}

.product__footer-item-icon {
    display: block;
    width: 40px;
    line-height: 30px;

}

.product__footer-item-icon i {
    font-size: 2.4rem;
    color: #7b8188;
}

.product__footer-item-icon:hover i {
    color: #bbb9b9;
}

/* footer */
.footer {
    height: 250px;
    background-color: var(--black-color);
    display: flex;
    
}

.footer__content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__contact-icons {
    color: var(--white-color);
    display: flex;

}

.footer__contact-icon {
    font-size: 3.2rem;
    margin: 20px 20px 0 0 ;
}

.footer__content-title {
    margin: 0;
    color: var(--white-color);
    font-size: 1.6rem;
}

.footer__content-right{
    width: 40%;
    display: flex;
    justify-content: center;
    margin: 20px 20px;
}

.footer__content-title {
    text-transform: uppercase;
}

.content-info__list, .content-support__list {
    list-style: none;
    padding: 0;
}

.content-info__item a, .footer__content-support a  {
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    line-height: 40px;
    display: flex;
}

.content-info__item,.content-support__item {
    display: flex;
}

.footer__content-payment-icon {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.footer__content-payment-icon img {
    width: 40px;  
    flex-wrap: wrap;
    margin: 20px 10px 0 0;
    cursor: pointer;
}

.content-info__item-icon {
    color: var(--white-color);
}

.footer__footing{
    background-image: linear-gradient(0, #0e201d, #002931);
}
.footing__content {
    height: 60px;
    display: flex;
    margin: 0 2%;
    justify-content: space-between;
}
.footer__footer-copyright{
    display: flex;
    align-items: center;
    color: var(--white-color);
    font-size: 1.2rem;
}